header.max-w-screen-xl.mx-auto.flex.items-center.justify-between.mb-24.mt-4
  div
    a(href='/')
      img.w-16(src='/img/logo-color.png' alt='logo')
  nav
    ul.flex.gap-8
      li
        a(href='/') Home
      li
        a(href='/clubs') Clubs
      li
        a(href='/books') Books
      li 
        if member
          a#logout(href='/logout') Logout 
        else 
          a(href='/login') Login 
  if member
    a.px-3.bg-colorPrimary.rounded.font-semibold(class='py-1.5' href='/myProfile') My profile
  else 
    a.px-3.bg-colorPrimary.rounded.font-semibold(class='py-1.5' href='/register') Register