extends base 

block content 
  main 
    section.max-w-screen-xl.mx-auto.mb-28.mt-48
      .text-center.flex.flex-col.gap-14
        svg.w-12.h-12.inline-block.fill-colorPrimary.mx-auto
          use(xlink:href='/img/sprite.svg#icon-error_outline')
        h1.text-5xl.text-colorSecondary #{title}
        p.text-2xl.text-colorPrimary #{message}