extends base 

block content 
  main 
    section.max-w-screen-xl.mx-auto.mb-28
      h3.text-center.text-4xl.uppercase.text-colorSecondary.mb-14
        | Login to your account
      .h-h.border-colorPrimary.border-2.rounded.text-center.mx-auto(class='w-1/2')
        form#form.flex.flex-col.gap-6.mb-10.mt-4
          .flex.flex-col.items-center
            label(for='email') Email
            input#email.border-colorSecondary.border-2.rounded.h-10.px-3(class='w-2/3' type='email' placeholder='Enter your email')
          .flex.flex-col.items-center
            label(for='password') Password
            input#password.border-colorSecondary.border-2.rounded.h-10.px-3(class='w-2/3' type='password' placeholder='Enter your passowrd')
          .text-center
            button.px-3.h-10.bg-colorPrimary.rounded.inline-block(class='py-1.5 w-2/3' href='#') Sign in
        .mt-6
          a.text-colorSecondary.font-semibold(href='#') Forgot your password?
